<a href="https://colab.research.google.com/github/sreehari59/Polar-Embedding/blob/main/Polar_Embeddings_Plotting_VS_Two_Antonym_Pair.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**Below import the polar embedding file**

In [ ]:
polar_embedding_company = pd.read_csv('/content/drive/MyDrive/POLAR-GloVeWiki-org-antonyms-inter-new.csv')

print(polar_embedding_company.head())

**Below code snippet will load the fortune 500 company**

In [3]:
fortune_company = pd.read_csv('/content/drive/MyDrive/Fortune Global 500 companies.csv',encoding= 'unicode_escape')
print(fortune_company.head())

   Rank                   Company Location
0     1                   Walmart      USA
1     2                State Grid    China
2     3                    Amazon      USA
3     4  China National Petroleum    China
4     5             Sinopec Group    China

In [4]:
polar_list_company_name = polar_embedding_company.iloc[:,0]
character_1_list = polar_embedding_company['achievementcaring']
character_2_list = polar_embedding_company['femininemasculine']

character_3_list = polar_embedding_company['accomplishmentloving']
character_4_list = polar_embedding_company['excellencenurturing']
character_6_list = polar_embedding_company['competitiveuncompetitive']
#character_6_list = polar_embedding_company['accomplishmentloving']

character_7_list = polar_embedding_company['kingqueen']
character_8_list = polar_embedding_company['manwoman']

character_9_list = polar_embedding_company['accomplishmentscared']
character_10_list = polar_embedding_company['awardcare']
character_11_list = polar_embedding_company['compassionateoutstanding']
character_12_list = polar_embedding_company['insensitiveunsuccessful']
character_13_list = polar_embedding_company['fruitlessheartless']



#print(character_1_list)

In [5]:
length = (polar_list_company_name.size)

In [6]:
character_1 = "achievement-caring"
character_2 = "feminine-masculine"
character_3 = "accomplishment-loving"
character_4 = "excellence-nurturing"
character_5 = "accomplishments-loving"
character_6 = "competitive-uncompetitive"
character_7 = "king-queen"
character_8 = "man-woman"
character_9 = "accomplishments-cared"
character_10 = "award-care"
character_11 = "compassionate-outstanding"
character_12 = "insensitive-unsuccessful"
character_13 = "fruitless-heartless"


company_location=[]
fortune_company_name = []
company_index=0;
counter=0
for index, row in fortune_company.iterrows(): 
  
  s = row['Company']
  s = s.lower()
  s = s.replace(" ","")   
  if s == polar_list_company_name[company_index]:    
    company_index = company_index+1
    company_location.append(row['Location'])
    fortune_company_name.append(row['Company'])
    counter=counter+1

  if length==company_index:
    break
        

print("The size of the company list: ",counter)

The size of the company list:  142

**2D visualization of the companies. each Axis represents an antonym pair**

In [7]:
from pandas.core.frame import DataFrame
import plotly.express as px

data = {
        'Company Name' : fortune_company_name,    
        'Location': company_location,      
        character_1 : character_1_list,
        character_2 : character_2_list,
        character_3 : character_3_list,
        character_4 : character_4_list, character_6 : character_6_list,
        character_7 : character_7_list,character_8 : character_8_list,character_9 : character_9_list,character_10 : character_10_list,
        character_11 : character_11_list,character_12 : character_12_list,character_13 : character_13_list}

df = pd.DataFrame(data)
print(df.head())


#fig = px.scatter(df, x=character_1, y=character_2, text="Company Name", size_max=1,color='Location', color_discrete_sequence= px.colors.qualitative.Alphabet)
#fig.update_traces(textposition='top center')
#fig.update_layout(title_text='Companies', title_x=0.5)
#fig.show()

  Company Name Location  achievement-caring  feminine-masculine  \
0      Walmart      USA            0.243631           -0.205357
1       Amazon      USA           -0.086201            0.053702
2        Apple      USA           -0.103322            0.166979
3   Volkswagen  Germany           -0.073575           -0.175310
4     McKesson      USA           -0.029817            0.057247

   accomplishment-loving  excellence-nurturing  competitive-uncompetitive  \
0              -0.083700             -0.007276                  -0.053323
1              -0.017368              0.011047                   0.053220
2              -0.137715             -0.150096                   0.094175
3               0.010598             -0.122264                   0.059424
4               0.156256              0.242129                  -0.228163

   king-queen  man-woman  accomplishments-cared  award-care  \
0   -0.000398  -0.069315               0.098437   -0.131299
1   -0.080014  -0.018131              -0.000560    0.061341
2   -0.083396   0.043838               0.062142    0.084651
3   -0.069480   0.101786               0.016294    0.153805
4    0.107003   0.095663              -0.149813   -0.032131

   compassionate-outstanding  insensitive-unsuccessful  fruitless-heartless
0                   0.153415                  0.073623            -0.034675
1                   0.029439                  0.067883             0.080481
2                  -0.002736                 -0.022354            -0.067251
3                   0.005226                 -0.010648             0.034137
4                   0.075662                 -0.071115            -0.055352

**3D visualization of the companies. each Axis represents an antonym pair**

In [8]:
'''
fig = px.scatter_3d(df, x=character_1, y=character_2, z=character_3, text="Company Name", size_max=1,color='Location', color_discrete_sequence= px.colors.qualitative.Alphabet)
fig.update_traces(textposition='top center')
fig.update_layout(title_text='Companies', title_x=0.5)
fig.show()
'''

'\nfig = px.scatter_3d(df, x=character_1, y=character_2, z=character_3, text="Company Name", size_max=1,color=\'Location\', color_discrete_sequence= px.colors.qualitative.Alphabet)\nfig.update_traces(textposition=\'top center\')\nfig.update_layout(title_text=\'Companies\', title_x=0.5)\nfig.show()\n'

**Location wise distribution of companies based on characteristics**

In [9]:
character_of_company = 'achievement-caring'
left_character_of_company = character_of_company.split("-")[0].capitalize()
right_character_of_company = character_of_company.split("-")[1].capitalize()

# Making a copy of data frame
new_df = df

In [10]:
# This will find the total number of companies in our data frame based on Location

total_company_list_based_on_loc = new_df['Location'].value_counts()

# This will count the number of companies having the value greater than 0 
# so if the character_of_company = "achievement-caring" then greater than 0 means all companies inclined towards caring
subset_df = new_df[new_df[character_of_company] > 0]
company_list_inclined_to_right_polar = subset_df['Location'].value_counts()

total_company_df = pd.DataFrame({'Country':total_company_list_based_on_loc.index, 'Total Count':total_company_list_based_on_loc.values})
print(total_company_df.head())

inclined_company_df = pd.DataFrame({'Country':company_list_inclined_to_right_polar.index, 'Count':company_list_inclined_to_right_polar.values})
print(inclined_company_df.head())

f = pd.concat([total_company_df,inclined_company_df],axis=1)
print(f.head())

   Country  Total Count
0      USA           52
1    Japan           18
2  Germany           12
3  Britain           10
4   France            9
   Country  Count
0      USA     24
1  Germany      8
2   France      7
3    Japan      7
4  Britain      6
   Country  Total Count  Country  Count
0      USA           52      USA   24.0
1    Japan           18  Germany    8.0
2  Germany           12   France    7.0
3  Britain           10    Japan    7.0
4   France            9  Britain    6.0

In [11]:
# This will find the total number of companies in our data frame based on Location
total_company_list_based_on_loc_df = new_df.groupby('Location').count()
total_company_list_based_on_loc=total_company_list_based_on_loc_df['Company Name']

# This will count the number of companies having the value greater than 0 
# so if the character_of_company = "achievement-caring" then greater than 0 means all companies inclined towards caring
subset_df = new_df[new_df[character_of_company] > 0]
company_inclined_to_right_polar_df = subset_df.groupby('Location').count()
company_inclined_to_right_polar = company_inclined_to_right_polar_df['Company Name']

#print(total_company_list_based_on_loc)
#print(company_inclined_to_right_polar)

In [12]:
name1 = left_character_of_company+" Companies"
name2 = right_character_of_company+" Companies"
new_data ={
    name1 : total_company_list_based_on_loc,
    name2 : company_inclined_to_right_polar
}
final_df = pd.DataFrame(new_data)
final_df = final_df.fillna(0)

# we are doing th below step to get the comapnies inclined towards the left polar i.e if we take the character = "achievement-caring" 
# the difference between total companies and companies inclined towards caring would give the number of comapnies inclined towards achievement
final_df[name1] = final_df[name1] - final_df[name2]

final_df['Percentage'] = final_df[name1] / (final_df[name1] + final_df[name2]) * 100
#print(final_df)

test_df = final_df[final_df[name1] + final_df[name2] > 3]
print(test_df)

             Achievement Companies  Caring Companies  Percentage
Location
Britain                        4.0               6.0   40.000000
France                         2.0               7.0   22.222222
Germany                        4.0               8.0   33.333333
Japan                         11.0               7.0   61.111111
South Korea                    1.0               3.0   25.000000
Switzerland                    2.0               3.0   40.000000
USA                           28.0              24.0   53.846154

In [13]:
fig = px.bar(final_df)
fig.update_layout(title_text='Location wise distribution of companies', title_x=0.5)
fig.show()

**Percentage of companies in each countries**

In [14]:
test_df = test_df.iloc[:,2:]
test_df = test_df.sort_values("Percentage")
print(test_df)

             Percentage
Location
France        22.222222
South Korea   25.000000
Germany       33.333333
Britain       40.000000
Switzerland   40.000000
USA           53.846154
Japan         61.111111

In [15]:
fig = px.bar(test_df)
fig.update_layout(title_text='Location wise distribution of companies', title_x=0.5)
fig.show()

**Below we accept the input from user for a single hofstede's Dimension**

In [16]:
# user will input their antonym pairs and t will be added to the list
input_list = ['achievement-caring','feminine-masculine','accomplishment-loving','excellence-nurturing','king-queen','man-woman','accomplishments-cared','award-care',
              'compassionate-outstanding','insensitive-unsuccessful','fruitless-heartless','competitive-uncompetitive']
company_df=total_company_df

# we then find the number of companies grouped on the basis of location
for i in input_list:
  
  subset_df2 = new_df[new_df[i] < 0]
  company_inclined_to_left_polar_df1 = subset_df2['Location'].value_counts()
  left_polar = i.split("-")[0]
  company_inclined_to_left_polar_df1 = pd.DataFrame({'Country':company_inclined_to_left_polar_df1.index, left_polar :company_inclined_to_left_polar_df1.values})
  company_df=pd.merge(company_df, company_inclined_to_left_polar_df1, how='left',on='Country')    
  company_df[left_polar] = round( company_df[left_polar] / company_df.iloc[:,1] * 100)

  subset_df1 = new_df[new_df[i] > 0]
  company_inclined_to_right_polar_df1 = subset_df1['Location'].value_counts()
  right_polar = i.split("-")[1]
  company_inclined_to_right_polar_df1 = pd.DataFrame({'Country':company_inclined_to_right_polar_df1.index, right_polar :company_inclined_to_right_polar_df1.values})
  company_df=pd.merge(company_df, company_inclined_to_right_polar_df1, how='left',on='Country')    
  company_df[right_polar] = round( company_df[right_polar] / company_df.iloc[:,1] * 100)


company_df = company_df.fillna(0)

# We are considering only the countries if the numberof companies in the country is over 3
company_df = company_df[company_df['Total Count'] > 3]
print(company_df.head())

   Country  Total Count  achievement  caring  feminine  masculine  \
0      USA           52         54.0    46.0      44.0       56.0
1    Japan           18         61.0    39.0      94.0        6.0
2  Germany           12         33.0    67.0      83.0       17.0
3  Britain           10         40.0    60.0      70.0       30.0
4   France            9         22.0    78.0      22.0       78.0

   accomplishment  loving  excellence  nurturing  ...  award  care  \
0            44.0    56.0        46.0       54.0  ...   71.0  29.0
1            44.0    56.0        72.0       28.0  ...   39.0  61.0
2            25.0    75.0        58.0       42.0  ...   67.0  33.0
3            60.0    40.0        50.0       50.0  ...   90.0  10.0
4            78.0    22.0        44.0       56.0  ...   67.0  33.0

   compassionate  outstanding  insensitive  unsuccessful  fruitless  \
0           31.0         69.0         60.0          40.0       65.0
1           28.0         72.0         22.0          78.0       22.0
2           50.0         50.0         67.0          33.0       50.0
3           50.0         50.0         40.0          60.0       50.0
4           33.0         67.0         67.0          33.0       67.0

   heartless  competitive  uncompetitive
0       35.0         62.0           38.0
1       78.0         61.0           39.0
2       50.0         75.0           25.0
3       50.0         60.0           40.0
4       33.0         78.0           22.0

[5 rows x 26 columns]

**Below we are plotting each antonym pair under the same Hofstede Dimension**

In [17]:
from plotly.subplots import make_subplots
import plotly.graph_objects as go

polar_list = ["achievement",'masculine','accomplishment','king','man','accomplishments','award','outstanding','competitive']


# This is to find the number of rows and columns required in the sub plot
grid_value = 0
grid_value = round(len(polar_list)/2)
grid_value = 6
print(grid_value)


fig = make_subplots(rows=grid_value, cols=grid_value,subplot_titles= polar_list)

row_counter=1
col_counter=1

for i in range(1,len(polar_list)+1):
  
  if i%2 ==0:    
    fig.add_trace(go.Bar(x=company_df.iloc[:,0] , y=company_df.iloc[:,i+1] ),
              row_counter, col_counter)
    row_counter= row_counter+1
    col_counter=1
  else:
    
    fig.add_trace(go.Bar(x=company_df.iloc[:,0] , y=company_df.iloc[:,i+1] ),
              row_counter, col_counter)
    col_counter = col_counter+1


#fig.update_layout(title_text= "% of companies aligned to respective polar", title_x=0.5,coloraxis=dict(colorscale='Bluered_r'), showlegend=False)
#fig.show()

6

In [18]:
# The user input the country name and get the graph for different synonyms under a single Hofstede's Dimension
country_name= "USA"
total_sum=0
polar_index=0
for index,row in company_df.iterrows():
  
  if row['Country'] == country_name:
    for i in polar_list:      
      total_sum = total_sum + (row[i])
    #print(company_df.iloc[index,2:])  
    company_df['Total Score'] = total_sum
    fig = go.Figure([go.Bar(x=input_list, y=company_df.iloc[index,2:])])
    fig.update_layout(title_text=country_name, title_x=0.5)
    fig.show()
    break
  else:
    print("Country Not in the List")

print(total_sum)
#total_sum = total_sum.values

522.0

In [26]:
# The user input the country name and get the graph for different synonyms under a single Hofstede's Dimension
total_sum=0
total_sum_list=[]
polar_ranking_list = []
polar_index=0
for index,row in company_df.iterrows():  
  
  for i in polar_list:
    
    total_sum = total_sum + (row[i])
  #print(company_df.iloc[index,2:])  
  total_sum_list.append(total_sum)
  polar_ranking_list.append(index+1)
  total_sum = 0

company_df['Total Score'] = total_sum_list

[1, 2, 3, 4, 5, 6, 7]

In [29]:
company_df= company_df.sort_values(by=['Total Score'],ascending=False)
company_df['Polar Ranking'] = polar_ranking_list

In [31]:
company_df.head(7)

,Country,Total Count,achievement,caring,feminine,masculine,accomplishment,loving,excellence,nurturing,...,compassionate,outstanding,insensitive,unsuccessful,fruitless,heartless,competitive,uncompetitive,Total Score,Polar Ranking
5,Switzerland,5,40.0,60.0,60.0,40.0,40.0,60.0,60.0,40.0,...,60.0,40.0,40.0,60.0,40.0,60.0,100.0,0.0,560.0,1
4,France,9,22.0,78.0,22.0,78.0,78.0,22.0,44.0,56.0,...,33.0,67.0,67.0,33.0,67.0,33.0,78.0,22.0,546.0,2
0,USA,52,54.0,46.0,44.0,56.0,44.0,56.0,46.0,54.0,...,31.0,69.0,60.0,40.0,65.0,35.0,62.0,38.0,522.0,3
3,Britain,10,40.0,60.0,70.0,30.0,60.0,40.0,50.0,50.0,...,50.0,50.0,40.0,60.0,50.0,50.0,60.0,40.0,510.0,4
1,Japan,18,61.0,39.0,94.0,6.0,44.0,56.0,72.0,28.0,...,28.0,72.0,22.0,78.0,22.0,78.0,61.0,39.0,478.0,5
6,South Korea,4,25.0,75.0,100.0,0.0,50.0,50.0,100.0,0.0,...,75.0,25.0,75.0,25.0,25.0,75.0,75.0,25.0,400.0,6
2,Germany,12,33.0,67.0,83.0,17.0,25.0,75.0,58.0,42.0,...,50.0,50.0,67.0,33.0,50.0,50.0,75.0,25.0,391.0,7

**Below Points the difference between the hofstede's value and average of antonym pair**

In [32]:
hofstede_df = pd.read_csv("/content/drive/MyDrive/Hofstede 6 dimensions.csv",sep=";")
hofstede_df=hofstede_df[hofstede_df['pdi']!="#NULL!" ]
hofstede_df=hofstede_df[hofstede_df['ltowvs']!="#NULL!" ]
hofstede_df=hofstede_df[hofstede_df['ivr']!="#NULL!" ]

hofstede_dimension = "mas"
hofstede_dimension_value = 0


for index,row in hofstede_df.iterrows():

  if row['Country'] == country_name:
    hofstede_dimension_value = int(row[hofstede_dimension])
  elif row['ctr'] == country_name:
    hofstede_dimension_value = int(row[hofstede_dimension])
  
mean_value = total_sum/len(polar_list)
if hofstede_dimension_value > mean_value:
  print("% difference",hofstede_dimension_value - mean_value )
else:
  print("% difference",mean_value - hofstede_dimension_value )

% difference 62.0

In [33]:
merged_df = pd.merge(company_df, hofstede_df, how='left',on='Country')
merged_df.head(10)

,Country,Total Count,achievement,caring,feminine,masculine,accomplishment,loving,excellence,nurturing,...,uncompetitive,Total Score,Polar Ranking,ctr,pdi,idv,mas,uai,ltowvs,ivr
0,Switzerland,5,40.0,60.0,60.0,40.0,40.0,60.0,60.0,40.0,...,0.0,560.0,1,SWI,34,68,70,58,74,66
1,France,9,22.0,78.0,22.0,78.0,78.0,22.0,44.0,56.0,...,22.0,546.0,2,FRA,68,71,43,86,63,48
2,USA,52,54.0,46.0,44.0,56.0,44.0,56.0,46.0,54.0,...,38.0,522.0,3,USA,40,91,62,46,26,68
3,Britain,10,40.0,60.0,70.0,30.0,60.0,40.0,50.0,50.0,...,40.0,510.0,4,GBR,35,89,66,35,51,69
4,Japan,18,61.0,39.0,94.0,6.0,44.0,56.0,72.0,28.0,...,39.0,478.0,5,JPN,54,46,95,92,88,42
5,South Korea,4,25.0,75.0,100.0,0.0,50.0,50.0,100.0,0.0,...,25.0,400.0,6,KOR,60,18,39,85,100,29
6,Germany,12,33.0,67.0,83.0,17.0,25.0,75.0,58.0,42.0,...,25.0,391.0,7,GER,35,67,66,65,83,40

In [34]:
merged_df= merged_df.sort_values(by=['mas'],ascending=False)
merged_df['Masculine Ranking'] = polar_ranking_list

In [35]:
merged_df.head(10)

,Country,Total Count,achievement,caring,feminine,masculine,accomplishment,loving,excellence,nurturing,...,Total Score,Polar Ranking,ctr,pdi,idv,mas,uai,ltowvs,ivr,Masculine Ranking
4,Japan,18,61.0,39.0,94.0,6.0,44.0,56.0,72.0,28.0,...,478.0,5,JPN,54,46,95,92,88,42,1
0,Switzerland,5,40.0,60.0,60.0,40.0,40.0,60.0,60.0,40.0,...,560.0,1,SWI,34,68,70,58,74,66,2
3,Britain,10,40.0,60.0,70.0,30.0,60.0,40.0,50.0,50.0,...,510.0,4,GBR,35,89,66,35,51,69,3
6,Germany,12,33.0,67.0,83.0,17.0,25.0,75.0,58.0,42.0,...,391.0,7,GER,35,67,66,65,83,40,4
2,USA,52,54.0,46.0,44.0,56.0,44.0,56.0,46.0,54.0,...,522.0,3,USA,40,91,62,46,26,68,5
1,France,9,22.0,78.0,22.0,78.0,78.0,22.0,44.0,56.0,...,546.0,2,FRA,68,71,43,86,63,48,6
5,South Korea,4,25.0,75.0,100.0,0.0,50.0,50.0,100.0,0.0,...,400.0,6,KOR,60,18,39,85,100,29,7

In [37]:
merged_df['Masculine Ranking'].corr(merged_df['Polar Ranking'])

<bound method DataFrame.corr of        Country  Total Count  achievement  caring  feminine  masculine  \
4        Japan           18         61.0    39.0      94.0        6.0
0  Switzerland            5         40.0    60.0      60.0       40.0
3      Britain           10         40.0    60.0      70.0       30.0
6      Germany           12         33.0    67.0      83.0       17.0
2          USA           52         54.0    46.0      44.0       56.0
1       France            9         22.0    78.0      22.0       78.0
5  South Korea            4         25.0    75.0     100.0        0.0

   accomplishment  loving  excellence  nurturing  ...  Total Score  \
4            44.0    56.0        72.0       28.0  ...        478.0
0            40.0    60.0        60.0       40.0  ...        560.0
3            60.0    40.0        50.0       50.0  ...        510.0
6            25.0    75.0        58.0       42.0  ...        391.0
2            44.0    56.0        46.0       54.0  ...        522.0
1            78.0    22.0        44.0       56.0  ...        546.0
5            50.0    50.0       100.0        0.0  ...        400.0

   Polar Ranking  ctr  pdi  idv  mas  uai  ltowvs  ivr  Masculine Ranking
4              5  JPN   54   46   95   92      88   42                  1
0              1  SWI   34   68   70   58      74   66                  2
3              4  GBR   35   89   66   35      51   69                  3
6              7  GER   35   67   66   65      83   40                  4
2              3  USA   40   91   62   46      26   68                  5
1              2  FRA   68   71   43   86      63   48                  6
5              6  KOR   60   18   39   85     100   29                  7

[7 rows x 36 columns]>

In [ ]:
1. random words then find total score
2. assertive submissive find the total score
3. our own lost find the total score

**Below visualize the hofstede's value and values of antonym pair**

In [ ]:
import plotly.graph_objects as go

compare_list = ['mas',"achievement",'masculine','accomplishment','king','man','accomplishments','award','outstanding','competitive']

country_list= []
value = []
fig = go.Figure()

for i in compare_list:

  for index, row in merged_df.iterrows():
    country_list.append(row['Country'])
    value.append(int(row[i]))
      
  #print(i)
  #print(value)
  #print(country_list)
  fig.add_trace(go.Bar(x=country_list , y=value, name =i))  
  value.clear()
  country_list.clear()

    
fig.show()